<div class="index-yellow-header">
  <div class="new-expense-header">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <h1>Edit Profile</h1>
  </div>
</div>
<div class="budget-category-cards-container">

<%= simple_form_for @profile do |f| %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :second_name %>
    <%= f.input :username %>
    <%= f.input :age %>
    <%= f.input :monthly_income %>
  </div>

  <div class="money-mate-button-profile">
    <%= f.button :submit, "Update Profile" %>
  </div>
<% end %>
</div>
