<div class="index-yellow-header">
  <h1 class="mb-3 text-center">My Profile</h1>
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>
<div class="profile-show-container">

  <div class="main-profile-card">
    <p>First Name:</p>
    <h6><%= @profile.first_name %></h6>
    <p>Second Name:</p>
    <h6><%= @profile.second_name %></h6>
    <p>Username:</p>
    <h6><%= @profile.username %></h6>
    <p>Monthly Income:</p>
    <h6>R<%= @profile.monthly_income.floor %></h6>
  </div>

  <button class="money-mate-button">
    <%= link_to 'edit', edit_profile_path(@profile) %>
  </button>
<p class="mt-4">BADGES</p>
<div class="expense-index-container">
  <div class="index-transactions-section">
    <div class="index-recent-transaction-card">
      <% if @current_month_badge.nil? %>
        No badges awarded yet
      <% else %>
        <%= image_tag @current_month_badge.image, alt: @current_month_badge.name, class: 'badge-image' if @current_month_badge.image.present? %>
        <%= @current_month_badge.message %>
      <% end %>
    </div>
    <div class="past-badges" style="overflow: auto; height: 250px;">
      <% @profile_badges.each do |pb| %>
        <div class="index-recent-transaction-card mb-3">
          <%# <div class="historical-badge-image"> %>
            <%= image_tag pb.badge.image, alt: pb.badge.name, width:"35" %>
          <%# </div> %>
          <div class="index-recent-transaction-info">
            <h2><%= pb.month %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
