<div class="profile-show-container">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

  <div class="main-profile-card">
    <h1><%= @profile.first_name %> <%= @profile.second_name %>'s Profile</h1>
    <p>
      <strong>First Name:</strong>
      <%= @profile.first_name %>
    </p>

    <p>
      <strong>Second Name:</strong>
      <%= @profile.second_name %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @profile.username %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @profile.age %>
    </p>

    <p>
      <strong>Monthly Income:</strong>
      <%= @profile.monthly_income %>
    </p>
  </div>

  <button class="money-mate-button">
    <%= link_to 'Edit Profile', edit_profile_path(@profile) %>
  </button>

<div class="expense-index-container">
  <div class="index-transactions-section">
    <div class="index-recent-transaction-card">
      <% if @current_month_badge.nil? %>
        No badges awarded yet
      <% else %>
        <%= image_tag @current_month_badge.image, alt: @current_month_badge.name, class: 'badge-image' if @current_month_badge.image.present? %>
        <%= @current_month_badge.message %>
      <% end %>
    </div>
    <div class="past-badges">
      <% @profile_badges.each do |pb| %>
        <div class="index-recent-transaction-card mb-3">
          <%# <div class="historical-badge-image"> %>
            <%= image_tag pb.badge.image, alt: pb.badge.name, width:"35" %>
          <%# </div> %>
          <div class="index-recent-transaction-info">
            <h2><%= pb.month %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
