<!-- app/views/budgets/show.html.erb -->
<div class="budget-show-yellow-header">
  <div class="budget-show-back">
    <%= link_to category_budgets_path do %>
      <i class="fa-solid fa-arrow-left mr-5"></i>
    <% end %>
  </div>
  <div class="budget-show-header">
    <h1><%= @budget.category_budget.name %>: <%= @budget.name %></h1>
  </div>
</div>
<div class="budget-show-container">
  <p>Expenses</p>
  <div class="show-recent-transactions">
    <% @budget_expenses.each do |expense| %>
     <%= link_to expense_path(expense) do %>
     <div class="show-recent-transaction-card">
      <div class="index-recent-transaction-icon">
          <img src= <%= expense.budget.category_budget.icon %>  alt ="icon" width="40" >
      </div>
      <div class="show-recent-transaction-info">
        <h2><%= expense.description %></h2>
        <p><%= expense.date.strftime( "%A %e %b %Y") %></p>
       <% end %>
      </div>
  <div class="expense-amount-and-link">
    <h2 class="item">R <%=  expense.amount %></h2>
   </div>
  </div>
    <% end %>
  </div>

  </div>
</div>
