<div class="navbar navbar-expand-sm navbar-light navbar-money-mate">
  <div class="container-fluid">

    <div class="<%= 'navbar-icon-box' if current_page?(root_path) %>">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-home"></i>
      <% end %>
    </div>

    <div class="<%= 'navbar-icon-box' if current_page?(budgets_path) %>">
      <%= link_to budgets_path, class: "navbar-brand" do %>
        <i class="fa fa-chart-pie"></i>
      <% end %>
    </div>

    <div class="<%= 'navbar-icon-box' if current_page?(new_expense_path) %>">
      <%= link_to new_expense_path, class: "navbar-brand" do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>

    <div class="<%= 'navbar-icon-box' if current_page?(expenses_path) %>">
      <%= link_to expenses_path ,class: "navbar-brand" do %>
        <i class="fa fa-money-bill"></i>
      <% end %>
    </div>

    <div class="<%= 'navbar-icon-box' if current_page?(profile_path(current_user)) %>">
      <%= link_to profile_path(current_user) ,class: "navbar-brand" do %>
        <i class="fa fa-user"></i>
      <% end %>
    </div>

  </div>
</div>
