<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa fa-home"></i>
    <% end %>

    <%= link_to budgets_path, class: "navbar-brand" do %>

      <i class="fa fa-chart-pie"></i>
    <% end %>

    <%= link_to new_expense_path, class: "navbar-brand" do %>
      <i class="fa fa-plus"></i>
    <% end %>

    <%= link_to expenses_path ,class: "navbar-brand" do %>
      <i class="fa fa-money-bill"></i>
    <% end %>

    <% if current_user %>
      <%= link_to profile_path(current_user) ,class: "navbar-brand" do %>
        <i class="fa fa-user"></i>
      <% end %>
    <% end %>


  </div>
</div>
