
<div class="container">

  <div class="top-message-section">
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtriFhIQBG7UD6xWQWA_xDB-quP3WKTpIdng&usqp=CAU" alt= "image" >
    <div class="greeting">
      <h2>Good morning<h2>
      <h1><%= current_user.profile.first_name %><h1>

    </div>
  </div>

  <%# <%= pie_chart @data,donut: true %>
<div class="chart-card">
  <%= pie_chart CategoryBudget.group(:name).sum(:amount),donut: true %>
</div>
  <%# <div class="budget-category-card">
    <div class="graph-section">
      <canvas id="myChart" ></canvas>
    </div>
  </div> %>

  <div class="transactions-section">
    <h4>Recent Transactions</h4>
    <div class="recent-transactions">
      <% @expenses.each do |expense| %>
        <div class="recent-transaction-card">
          <div class="recent-transaction-info">
            <h2><%= expense.description %></h2>
            <p><%= expense.date.strftime("%a %e %b") %></p>
          </div>
          <h2>R<%= expense.amount %></h2>
        </div>
      <%end %>
    </div>
  </div>
</div>
