<div class="container">
  <div class="top-message-section">
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtriFhIQBG7UD6xWQWA_xDB-quP3WKTpIdng&usqp=CAU" alt= "image" >
    <div class="greeting">
      <% current_hour = Time.now.hour %>
      <% if current_hour < 12 %>
        <h2 class = "animate__animated animate__bounce"> Good Morning </h2>
          <% elsif  current_hour < 18 %>
            <h2>Good Afternoon</h2>
          <% else %>
            <h2>Good Evening</h2>
          <% end %>
          <h1><%= current_user.profile.first_name %>
            <h1>
            </div>
          </div>
          <div data-controller="toggle">
            <div class="toggle-buttons d-flex justify-content-between">
              <div class="day-button" data-toggle-target="day-button" data-action="click->toggle#day">
                7 Days
              </div>
              <div class="month-button" data-toggle-target="month-button" data-action="click->toggle#month">
                Month
              </div>
              <div class="year-button" data-toggle-target="year-button" data-action="click->toggle#year">
                Year
              </div>
            </div>
            <div class="d-flex">
              <div class="chart-cards-section" data-toggle-target="day">
                <%= render "7_days", days_chart_data: @days_chart_data  %>
              </div>
              <div class="chart-cards-section" data-toggle-target="month" >
                <%= render "month", month_chart_data: @month_chart_data %>
              </div>
              <div class="chart-cards-section" data-toggle-target="year">
                <%= render "year", year_chart_data: @year_chart_data %>
              </div>
            </div>
            <div class="chart-card">
            <h3 class = "animate__animated animate__bounce"> <%= @message %> </h3>
            </div>
          </div>
          <%# <div class="transactions-section">

    <h4>Recent Transactions</h4>
    <div class="recent-transactions">
      <% @expenses.each do |expense| %>
            <%# <div class="recent-transaction-card">
          <div class="recent-transaction-info">
            <h2><%= expense.description</h2>
            <p><%= expense.date.strftime("%a %e %b")</p>
          <%# </div> %>
            <%# <h2>R<%= expense.amount</h2> %>
            <%# </div>
      <%end %>

            <%# </div> %>
            <%# </div> %>
          </div>
        </div>
