<div class="categories-header-container">
  <div class="budgets-show-header">
  <div class="budgets-show-header-top">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left mr-5"></i>
    <% end %>
    <h1><%= @category_budget.name %></h1>
  </div>
  <p>Total: R <%= @category_budget.amount %></p>
  </div>
</div>

<div class="budget-cards-container">
  <% @category_budget.budgets.each do |budget| %>
    <%= link_to budget do %>
      <div class="budget-category-card">
        <p class="mb-3"><%= budget.name %></p>
        <% start_date = 1.month.ago.beginning_of_day %>
        <% end_date = Time.current.end_of_day %>
        <% monthly_expenses_total = 0 %>
        <% budget.expenses.each do |expense| %>
          <% if expense.date >= start_date && expense.date <= end_date %>
            <% monthly_expenses_total += expense.amount %>
          <% end %>
        <% end %>
        <% expenses_as_percentage_of_budget = (monthly_expenses_total/budget.amount) * 100 %>
        <div class="w-75">
          <div class="progress">
            <% if expenses_as_percentage_of_budget > 100 %>
              <div class="progress-bar bg-danger" role="progressbar" style="width: <%= [expenses_as_percentage_of_budget, 100].min %>%;" aria-valuenow="<%= [expenses_as_percentage_of_budget, 100].min %>" aria-valuemin="0" aria-valuemax="100"><%= expenses_as_percentage_of_budget.floor %>%
              </div>
            <% else %>
              <div class="progress-bar" role="progressbar" style="width: <%= expenses_as_percentage_of_budget %>%;" aria-valuenow="<%= expenses_as_percentage_of_budget %>" aria-valuemin="0" aria-valuemax="100"><%= expenses_as_percentage_of_budget.floor %>%
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
