<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :budget, prompt: 'Select a Budget' %>
    <%= f.input :amount, prompt: 'Enter Amount' %>
    <%= f.input :description, prompt: 'Enter Description' %>
    <%= f.input :merchant, prompt: 'Enter Merchant' %>
    <%= f.input :date, as: :date, start_year: Time.now.year, end_year: Time.now.year - 20, order: [:day, :month, :year] %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

  <div class="form-actions">
  </div>
<% end %>
