<div class="container">
  <h1 class="mt-4">RECENT EXPENSES</h1>
  <h1 class="mt-4">Total R <%= @total_expenses %></h1>
  <h1 class="mt-4">Potential Savings: <%= @potential_savings %>zar</h1>

  <h2 class="mt-4 mb-4">last 7 days</h2>

  <div class="list-group">
    <% @expenses_last_seven_days.each do |expense| %>
      <div class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <%= expense.description %>: R <%= expense.amount %>
          </div>
          <div>
            <%= link_to expense_path(expense) do %>
              <i class="fa-solid fa-circle-info"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
