<div class="index-yellow-header">
  <h1 class="mb-3 text-center">Recent Expenses</h1>
  <div class="expense-index-totals-container">
    <div class="expense-index-total">
      <p><strong>Total: </strong>R <%= @total_expenses_current_month %></p>
    </div>
    <div class="expense-index-total">
      <p><strong>Savings: </strong>R <%= @potential_savings %></p>
    </div>
  </div>
</div>


<div class="expense-index-container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: expenses_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", merchant: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <% if @expenses_search.present? %>
    <p class="mt-4">SEARCH RESULTS :</p>
    <div class="index-transactions-section">
      <div class="index-recent-transactions">
        <% @expenses_search.each do |expense| %>
          <div class="index-recent-transaction-card">
            <div class="index-recent-transaction-info">
              <h2><%= expense.description %></h2>
              <p><%= expense.date.strftime("%a %e %b") %></p>
            </div>
            <div class="expense-amount-and-link">
              <h2 class="item">R <%= expense.amount.floor %></h2>
              <div class="item">
                <%= link_to expense_path(expense) do %>
                  <i class="fa-solid fa-circle-info"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="mt-4">LAST 7 DAYS..</p>

    <div class="index-transactions-section">
      <div class="index-recent-transactions">
        <% @expenses_last_seven_days.each do |expense| %>
            <%= link_to expense_path(expense) do %>
          <div class="index-recent-transaction-card">
            <div class="index-recent-transaction-icon">
                <img src= <%= expense.budget.category_budget.icon %>  alt ="icon" width="40" >
              </div>
            <div class="index-recent-transaction-info">
                <h2><%= expense.description %></h2>
              <p><%= expense.date.strftime("%a %e %b") %></p>
                <% end %>
            </div>
            <div class="expense-amount-and-link">
              <h2 class="item">R <%= expense.amount.floor %></h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
