<div class="container-expense">
  <div class="expense-show-yellow-header">
    <div class="expense-header-back">
      <%= link_to :back do %>
        <i class="fa-solid fa-arrow-left mr-5"></i>
      <% end %>
    </div>
      <h1><%= @expense.description %></h1>
  </div>
  <div class="details">
    <img src= <%= @expense.budget.category_budget.icon %> class="expense-show-icon" alt ="icon" width="40" >
    <div class="merchant">
      <h2> <%= @expense.merchant %></h2>
    </div>
    <div class="amount">
      <h2> R <%= @expense.amount %></h2>
    </div>
    <div class="date">
      <p> <%= @expense.date.strftime("%A, %b %d") %></p>
    </div>
  </div>
</div>
