<h1><%= @expense.description %></h1>
<p>
  Amount: <%= @expense.amount %><br>
  Merchant: <%= @expense.merchant %><br>
  Date: <%= @expense.date %><br>
</p>
<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
